<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/linterna">
        <ion-icon name="flashlight-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/camera">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
      <ion-button routerLink="/delivery">
        <ion-icon name="location-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <strong>Desafio 2</strong>
    <ion-toast
    [isOpen]="isToastOpen"
    [message]="msg"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
  </div>
</ion-content>
